node_modules
.DS_Store
dist
dist-ssr
*.local
.env.development

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock

auto-imports.d.ts
components.d.ts
.eslintrc-auto-import.json
plop-templates/views/index.hbs
